@mixin cssReset ($box-sizing, $margin, $padding, $text-decoration, $list-style) {
    box-sizing: $box-sizing;
    margin: $margin;
    padding: $padding;
    text-decoration: $text-decoration;
    list-style-type: $list-style;
}

@mixin displayFlexJustify ($display, $justify-content) {
    display: $display;
    justify-content: $justify-content;
}

@mixin displayFlexAlign ($display, $align-items) {
    display: $display;
    justify-content: $align-items;
}

@mixin displayFlexJustifyAlign ($display, $justify-content, $align-items) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}